<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2> Aronvel</h2>
            <h4>aronvel@gmail.com</h4>
        </div>
        <img src="https://avatars1.githubusercontent.com/u/20888469?s=400&u=58b90474c37f98cd407712e9d5427153e65287ae&v=4" alt="aron">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/article">Article</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>